﻿@model ShoppingBasket.Services.Interfaces.IShoppingService

<!DOCTYPE html>

<html>
<head>
    <title>Bucket Test</title>
</head>
<body>
<div>
    <h1>Basket</h1>
    <pre>@Model.ToString()</pre>

    <h1>Items</h1>
    <div>
        Butter
        @Html.ActionLink("Add", "AddButter")
        @Html.ActionLink("Remove", "RemoveButter")
    </div>
    <div>
        Milk
        @Html.ActionLink("Add", "AddMilk")
        @Html.ActionLink("Remove", "RemoveMilk")
    </div>
    <div>
        Bread
        @Html.ActionLink("Add", "AddBread")
        @Html.ActionLink("Remove", "RemoveBread")
    </div>

    <h1>Discounts</h1>
    <p>WARNING: This is only for test purposes. Discount should never be added this way</p>
    <div>
        @Html.ActionLink("Add", "AddDiscounts")
        @Html.ActionLink("Remove", "RemoveDiscounts")
    </div>
    <p>Proof of concept. This will remove other discounts and add only discount to whole basket balance (20%)</p>
    <div>
        @Html.ActionLink("Add", "AddNewDiscounts")
        @Html.ActionLink("Remove", "RemoveNewDiscounts")
    </div>
</div>
</body>
</html>